body {
    margin: 0;
}

/* Typography */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    margin: 0;
}


.site-title {
    margin: 0 auto;    
    width: 700px;
} 

.subtitle {
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size: .75rem;
    color: #1792d2;    
    /* margin: 0; */
}

header {
    background: #f8f8f8;
    text-align: center;
    padding: 2em 0;
}

nav ul {
    list-style: none;
    padding: 0;    
    display: flex;    
    justify-content: center;    
    
}

nav li {
    margin: 0 1em;     
}

nav a {
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1rem;
    font-weight: 700;
    color: #707070;
}

nav a:hover {
    text-decoration: underline;
}
